n8n/automation-05-payment-webhooker-processor/n8n_Automation_05_Payment_Webhook_Processor_sanitized.json
{
  "name": "n8n_Automation_05_Payment_Webhook_Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=payment-webhook-05",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -68
      ],
      "id": "9f52830f-1a74-47ba-a579-56040665e949",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0ac3f36-a141-4f80-a257-8726ae944c0e",
              "name": "customer_name",
              "value": "={{ $json.body.customer.name }}",
              "type": "string"
            },
            {
              "id": "3f39e774-4b63-41b3-8d45-8bb18f036b8f",
              "name": "customer_email",
              "value": "={{ $json.body.customer.email }}",
              "type": "string"
            },
            {
              "id": "5d74604a-a476-4c45-8bcc-b58127f86e0e",
              "name": "amount",
              "value": "={{ $json.body.transaction.amount }}",
              "type": "number"
            },
            {
              "id": "e8f2be93-f50e-4fc5-bccf-a3552cda25cd",
              "name": "currency",
              "value": "={{ $json.body.transaction.currency }}",
              "type": "string"
            },
            {
              "id": "e1bba6fd-8658-4d5e-87fc-3be24cd3fc9c",
              "name": "raw_description",
              "value": "={{ $json.body.transaction.description }}",
              "type": "string"
            },
            {
              "id": "bb5d7d98-478f-49b4-8975-8bf5e5dd4cec",
              "name": "received_at",
              "value": "={{ $json.body.transaction.timestamp }}",
              "type": "string"
            },
            {
              "id": "79ff6abf-81b2-48b3-ac08-37d877037cfc",
              "name": "raw_payload",
              "value": "={{ JSON.stringify($json.body) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -68
      ],
      "id": "0a6a7ead-5b09-4c82-8206-c58ca9e0da50",
      "name": "Normalize Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e05ecd79-1040-47eb-8cdf-fac2ce95125d",
              "leftValue": "={{ $json.customer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "000f9549-c974-4940-9397-e84c579a1a9f",
              "leftValue": "={{ $json.raw_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -68
      ],
      "id": "b7e5d7c2-d043-480c-a4a1-c08258435041",
      "name": "Validate Payload"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Missing required fields: customer_name or description\" }",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        80
      ],
      "id": "a1eb61be-800b-4d45-bbec-aaa84473e891",
      "name": "Respond - Validation Error"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Name: {{ $json.customer_name }}\nTransaction Description: {{ $json.raw_description }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a data-cleaning assistant for a payment processing log. You will receive a raw customer name and a raw transaction description. Perform two tasks:       1. Clean the customer name: fix capitalization to proper Title Case (e.g. \"rajesh kumar s\" -> \"Rajesh Kumar S\"). Do not add or remove words.       2. Classify the transaction description into EXACTLY ONE of these categories: Payment, Refund, Subscription, Chargeback, Other. Base the category only on the meaning of the description text.       Respond ONLY with valid JSON, no markdown formatting, no code fences, no preamble. Use this exact structure:      {\"cleaned_name\": \"string\", \"category\": \"string\"}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        400,
        -320
      ],
      "id": "98684d0f-c70d-43de-a8ee-83cb2a03ec61",
      "name": "AI Enrichment",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        472,
        -96
      ],
      "id": "cb3057ed-bbe9-4ec1-92f3-6e99824fc050",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiText = $input.first().json.text;\n\nlet parsed;\ntry {\n  // Safety net in case Groq ever wraps in ```json fences\n  const cleaned = aiText.replace(/```json/g, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  throw new Error(`Failed to parse AI output as JSON: ${aiText}`);\n}\n\nreturn [{\n  json: {\n    ...($('Validate Payload').first().json),\n    cleaned_name: parsed.cleaned_name,\n    category: parsed.category\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -288
      ],
      "id": "490363b2-c107-409e-8bb3-d9b7a066c1f2",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Automation_05_Payment_Webhook_Log ",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_CUSTOMERS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_CUSTOMERS_TABLE_ID"
        },
        "filterByFormula": "={Email} = '{{ $json.customer_email }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        976,
        -288
      ],
      "id": "43b37310-453d-4857-88ef-bda6a248cf1b",
      "name": "Search customer",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable - Payment Webhook Log"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "deb7bc28-6c16-42ff-b371-98cfb3e52e39",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        -360
      ],
      "id": "8d014b66-f394-4c36-9b3b-35f549dced01",
      "name": "Customer Exists?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Automation_05_Payment_Webhook_Log ",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_CUSTOMERS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_CUSTOMERS_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $('Parse AI Output').item.json.cleaned_name }}",
            "Email": "={{ $('Parse AI Output').item.json.customer_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created On",
              "displayName": "Created On",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Transactions",
              "displayName": "Transactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Transactions",
              "displayName": "Total Transactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1424,
        -288
      ],
      "id": "c49d7b76-8236-42e7-938b-f0cfd32b95d3",
      "name": "Create Customer",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable - Payment Webhook Log"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        -432
      ],
      "id": "6a5bfc8a-4d98-48e0-9a3c-0040dfc79137",
      "name": "Merge Customer ID"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Automation_05_Payment_Webhook_Log ",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_TRANSACTIONS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_TRANSACTIONS_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer": "={{ [$json.id] }}",
            "Amount": "={{ $('Parse AI Output').first().json.amount }}",
            "Raw Description": "={{ $('Parse AI Output').first().json.raw_description }}",
            "Cleaned Description": "={{ $('Parse AI Output').first().json.raw_description }}",
            "Status": "=Success",
            "Received At": "={{ $('Parse AI Output').first().json.received_at }}",
            "Raw Payload": "={{ $('Parse AI Output').first().json.raw_payload }}",
            "Category": "={{ $('Parse AI Output').first().json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Transaction ID",
              "displayName": "Transaction ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer Name (from Customer)",
              "displayName": "Customer Name (from Customer)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Payment",
                  "value": "Payment"
                },
                {
                  "name": "Refund",
                  "value": "Refund"
                },
                {
                  "name": "Subscription",
                  "value": "Subscription"
                },
                {
                  "name": "Charge back",
                  "value": "Charge back"
                },
                {
                  "name": "Others",
                  "value": "Others"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Raw Description",
              "displayName": "Raw Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cleaned Description",
              "displayName": "Cleaned Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Success",
                  "value": "Success"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Received At",
              "displayName": "Received At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Raw Payload",
              "displayName": "Raw Payload",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1872,
        -432
      ],
      "id": "102e7697-e37a-4045-8911-d172da43fef3",
      "name": "Create Transaction",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable - Payment Webhook Log"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Transaction processed and logged successfully\",\n  \"transaction_id\": \"{{ $json.fields['Transaction ID'] }}\",\n  \"category\": \"{{ $json.fields['Category'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2096,
        -480
      ],
      "id": "55b1f7c2-41de-4151-b820-0c40a13ad467",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Processing failed, please retry or contact support\" }",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2096,
        -120
      ],
      "id": "49c00374-1e76-4c43-be7c-69174523a117",
      "name": "Respond - Processing Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "AI Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Enrichment": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Enrichment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Search customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search customer": {
      "main": [
        [
          {
            "node": "Customer Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Exists?": {
      "main": [
        [
          {
            "node": "Merge Customer ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer": {
      "main": [
        [
          {
            "node": "Merge Customer ID",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Respond - Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Customer ID": {
      "main": [
        [
          {
            "node": "Create Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Transaction": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "47a270b8-35fd-4041-92f1-a5f68e435ae0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}